img {
  width: 18rem !important;
  height: 12rem !important;
  object-fit: contain !important;
  padding-top: 10px !important;
}
.detail {
  font-size: x-small !important;
}
body {
  background-color: rgb(172, 148, 117) !important ;
}
.card {
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  margin-left: 2px !important;
}
.cart {
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  margin-left: 5px !important;
}
.container {
  margin: auto !important;
  background-color: antiquewhite !important ;
  border-radius: 10px !important;
}
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}


body {
  display: table-cell;
  vertical-align: middle;
}
h5 {
  margin: 0;
}
